[submodule "elinks"]
	path = elinks
	url = https://github.com/shedbuilt/elinks.git
    branch = .
[submodule "qodem"]
	path = qodem
	url = https://github.com/shedbuilt/qodem.git
	branch = .
[submodule "netsurf"]
	path = netsurf
	url = https://github.com/shedbuilt/netsurf.git
	branch = .
